.article {
  padding-top: 2.7rem;
  padding-bottom: 4rem;

  &__cta {
    width: 100%;
    margin-left: 2.55rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $xl) {
      margin-left: 0;
    }
  }

  &__cta-btn {
    margin-top: 1.3rem;
    padding: 0 1.6rem 0 1.7rem;
    border-radius: 1.6rem;
    letter-spacing: 0rem;
  }

  &--heading {
    font-size: $px50;
    font-weight: $bold;
    color: $marine-sections;
    margin-bottom: 2.5rem;

    @media (max-width: $lg) {
      font-size: $px32;
    }
  }

  &__img {
    @media (max-width: $xl) {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &--heading-2 {
    margin-bottom: 2.6rem;
  }

  &--s1 {
    max-width: 34.375rem;

    @media (max-width: $md) {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }

  &--s1-2 {
    margin-left: 0.85rem;
    max-width: 34.375rem;

    @media (max-width: $md) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &--grey {
    background: $grey;
    padding-bottom: 0.3rem;
  }

  &--para {
    letter-spacing: -0.002rem;
    color: $para-grey;
  }

  &--para-s2 {
    margin-top: -0.4rem;
    margin-left: 0.6rem;
    margin-bottom: 1.44rem;
    letter-spacing: 0.013rem;
    font-weight: $light;

    @media (max-width: $xl) {
      margin-top: 0;
      margin-left: 1rem;
    }

    @media (max-width: $md) {
      margin-top: 1rem;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--para-s2-2 {
    margin-top: -0.05rem;
    margin-bottom: 1rem;
    letter-spacing: 0.013rem;
    font-weight: $light;

    @media (max-width: $xl) {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
