.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4.4rem 0.125rem 0 0.125rem;

  &__item {
    width: 404px;
    height: 404px;
    padding-bottom: 4.4rem;
  }

  &__item:nth-child(3n) {
    margin-right: -1.125rem;
  }

  &__item:nth-child(7), &__item:nth-child(8), &__item:nth-child(9) {
    margin-top: 0.6rem;
  }

  &__item-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

  }
}
