// Colours
$dark: #000000;
$white: #ffffff;
$grey: #f9f9f9;
$para-grey: #575756;
$marine-sections: #53686c;
$marine-read-more: #627478;
$marine-footer: #536467;
$dropdown-bcg: #dfdede;

// Typo Styles
$open: 'Open Sans', sans-serif;

// Typo Weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Typo Sizes
$px16: 1rem;
$px20: 1.25rem;
$px24: 1.5rem;
$px25: 1.5625rem;
$px28: 1.75rem;
$px32: 2rem;
$px50: 3.125rem;
$px55: 3.4375rem;
$px69: 4.3394rem;
$px75: 4.6875rem;
$px87: 5.4375rem;

// Breakpoints
$xxl: 1367px;
$xxl-b: 1365px;
$xl: 1138px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$ip5: 320px;

// Transition
$main: all 0.3s;
